# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.pyc
*.pyo
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.log
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env
.env.local
.env.*.local

# Data
data/raw/*.json
data/processed/*.csv
data/processed/analysis_results/*.png
data/processed/analysis_results/*.csv
!data/processed/arxiv_processed_mock.csv
data/processed/enriched/*.csv
data/raw/arxiv-metadata-oai-snapshot.json
data/raw/arxiv_sample_10k.json
data/processed/enriched/*.csv
data/processed/enriched/*.json




# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Flask
instance/
.webassets-cache

# Matplotlib
.matplotlib/

/docs/